{% extends 'app.twig' %}

{% block content %}
    <div class="container">
        <div style="margin-top: 25px;">
            <a href="{{ '/logout'|url }}" class="btn btn-danger">Sign out</a>
        </div>
        <form action="{{ '/tasks/create'|url }}" method="POST" enctype="multipart/form-data" style="margin-top: 25px;">
            {% include 'task/form.twig' %}
        </form>

        {% if tasks|length > 0 %}
            {% for task in tasks %}
                <div class="panel panel-default" {% if task.done %}style="opacity: .5;"{% endif %}>
                    <div class="panel-heading">{{ task.title }}</div>
                    <div class="panel-body">
                        {% if task.title %}
                            {{ task.description }}
                        {% else %}
                            <em class="text-muted">No description</em>
                        {% endif %}

                        {% if task.assigned %}
                            <div class="form-group" style="margin-top: 10px;">
                                <label>Assigned to</label>
                                <div>{{ task.assigned }}</div>
                            </div>
                        {% endif %}

                        {% if task.file %}
                                <div class="form-group" style="margin-top: 10px;">
                                    <label>Attachment</label>
                                    <a href="{{ "/tasks/#{task.id}/attachment"|url }}" style="display: block;">{{ task.file_name }}</a>
                                </div>
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <form action="{{ "/tasks/#{task.id}/done"|url }}" method="POST" style="display: inline-block;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                            {% if task.done %}
                                <button type="submit" class="btn btn-info">Mark as todo</button>
                            {% else %}
                                <button type="submit" class="btn btn-info">Mark as done</button>
                            {% endif %}
                        </form>
                        <a href="{{ "/tasks/#{task.id}"|url }}" class="btn btn-primary">Edit</a>
                        <form action="{{ "/tasks/#{task.id}/delete"|url }}" method="POST" style="display: inline-block;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2 class="text-center" style="margin-top: 20vh;">No tasks found, have a nice day!</h2>
        {% endif %}
    </div>
{% endblock %}